.table {
    background-color: rgb(124, 210, 124);
    width:100%;
    height:100%; 
}

.dealer {
    align-self: flex-start;
    margin: 10px;
}
.player {
    align-self: flex-end;
    margin: 10px;
}


/* Question
what should I work on next
CSS or more features (double, splitt, multiplayer, bigger deck)

how to i make cards ovelap each other

bet +-button or input box

Best CSS practice

REpositories

Ace 1 11
*/